* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.reel {
  min-height: 450px;
  max-width: 108px;
  min-width: 108px;
   overflow: hidden;
  margin: 20px;
  background-repeat: repeat-y;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

